body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #090909;
}

nav {
    width: 60vw;
    height: 5vh;
    border: 2px solid #282828;
    border-radius: 16px;
    margin-bottom: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 15px;
}

li a {
    display: block;
    color: #dddddd;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 32px;
    transition: 0.5s;
}

li a:hover {
    color: #ffffff;
    background-color: #555555;
}

.container {
    width: 60vw;
    height: 80vh;
    gap: 15px;
    display: flex;
}

.column {
    flex: 1;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
}

.subgrid-container {
    gap: 15px;
    display: flex;
}

.box {
    border: 1px solid #282828;
    border-radius: 16px;
    transition: 0.5s;
    background-color: #151515;
}

.box:hover {
    background-color: #242424;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.red {
    border: 2px solid red;
}
