:root {
    --p-text: #cccccc;
    --s-text: #aaaaaa;
    --t-text: #777777;

    --p-box: #151515;
/*    --s-box: #120e29;*/
    --s-box: #191919;
    --t-box: #282828;

    --p-border: #282828;
    --s-border: #34284b;


    --background: #101010;
}

@font-face {
    font-family: "Outfit";
    src: url("fonts/Outfit-VariableFont_wght.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Lexend";
    src: url("fonts/Lexend-VariableFont_wght.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/static/Poppins-Regular.ttf");
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background);
    font-family: "Outfit";
    color: var(--p-text);
}


p.text {
    font-size: 24px;
    margin: 10px 0px;
}

p.subtext {
    font-size: 18px;
    color: var(--t-text);
    margin: 10px 0px 0px 0px;
}

p.title {
    font-size: 80px;
    margin: 0px;
    margin-bottom: 20px;
    font-weight: bold;
}

p.header {
    font-family: "Poppins";
    letter-spacing: 0.15em;
    font-size: 18px;
    color: var(--t-text);
    margin-top: 10px;
}

.headshot {
    background-image: url("images/headshot.jpg");
    background-position: top;
    background-size: cover;
}

.skyline {
    background-image: url("images/city.jpg");
    background-position: bottom;
    background-size: cover;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 15px;
    padding: 30px;
    box-sizing: border-box;
}

.column {
    flex: 1;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
}

.subgrid-container {
    gap: 15px;
    display: flex;
}

.box {
    border: 2px solid var(--p-border);
    border-radius: 32px;
    transition: 0.5s;
    background-color: var(--p-box);
    padding: 20px 30px;
}

.box:hover {
    background-color: var(--s-box);
    border-color: var(--s-border);
}

.title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-container {
    padding: 50px;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

/* Layout for smaller screens (e.g., tablets and mobiles) */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .subgrid-container {
        flex-direction: column;
    }
    .image {
        min-height: 30vh;
    }
}

