@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes dropdownEnter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdownLeave {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

button > span {
  transition: opacity 0.3s ease-in-out;
}

.dropdown-enter {
  animation: dropdownEnter 500ms ease forwards;
}

.dropdown-leave {
  animation: dropdownLeave 300ms ease forwards;
}

.card {
  @apply border-1 rounded-2xl border-neutral-200 dark:border-neutral-800 shadow dark:shadow-lg/50 dark:shadow-black bg-white/75 dark:bg-neutral-900/75 backdrop-blur;
  transition-property: color, background-color, box-shadow, border, text;
  transition-duration: 500ms;
}

.link {
  @apply hover:text-neutral-700 dark:hover:text-neutral-300 text-neutral-500 dark:text-neutral-400; 
  transition-property: color, background-color, box-shadow, border, text;
  transition-duration: 500ms;
}

.button {
  @apply text-neutral-500 dark:text-neutral-400 bg-white dark:bg-neutral-900 inline-flex items-center justify-center border-1 rounded-lg border-neutral-400 dark:border-neutral-500 hover:bg-neutral-200 dark:hover:bg-neutral-800 shadow dark:shadow-lg/20 dark:shadow-black;
  transition-property: color, background-color, box-shadow, border, text;
  transition-duration: 500ms;
}

.hover-button {
  @apply text-neutral-500 dark:text-neutral-400 inline-flex items-center justify-center text-neutral-500 dark:text-neutral-400 hover:bg-neutral-200 dark:hover:bg-neutral-800 rounded-lg;
  transition-property: color, background-color, box-shadow, border, text;
  transition-duration: 500ms;
}

.input-box {
  @apply px-4 py-2 rounded-md border border-neutral-200 dark:border-neutral-800 bg-neutral-50 dark:bg-neutral-900 focus:outline-none focus:border-neutral-400 dark:focus:border-neutral-500;
  transition-property: color, background-color, box-shadow, border, text;
  transition-duration: 500ms;
}

.pill {
  @apply px-1.5 py-0.5 bg-neutral-200 dark:bg-neutral-800 text-neutral-500 dark:text-neutral-400 rounded-lg;
  transition-property: color, background-color, box-shadow, border, text;
  transition-duration: 500ms;
}

.icon {
  @apply border-1 border-neutral-300 dark:border-neutral-700 size-12 rounded-full;
  transition-property: color, background-color, box-shadow, border, text;
  transition-duration: 500ms;
}

::selection {
  background: oklch(55.6% 0 0);
  color: white;
}

@media (min-width: 768px) { /* md breakpoint */
  .sourcinggpt-span {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .twintoys-span {
    grid-row-start: 3;
    grid-row-end: 4; /* or just auto if single row */
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .arfixit-span {
    grid-row-start: 1;
    grid-row-end: 2; /* or auto if single */
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .vetsage-span {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

/* On small screens, these classes do not apply */
